<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="/style.css">
  <!-- BOOTSTRAP CSS CDN -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
  <!-- JAVASCRIPT -->
  <script defer src="/js/app.js"></script>
  <title>Dashboard</title>
</head>
<body>

    <!-- HEADER / NAV BAR -->
    <header class="container" id="nav-bar-container">
      <div class="container" id="nav-link-container">
        <ul class="nav-link-list">
          <li class="nav-link">  <button class="dashboard-btn">Graphs</button>  </li>
          <li class="nav-link"><button class="dashboard-btn">User Name/Password</button></li>
          <li class="nav-link"><button class="dashboard-btn">Articles</button></li>
        </ul>
      </div>
      <!-- ICONS     -->
      <div class="icons-container">
        <!-- MENU -->
        <button class="dashboard-btn">
        <svg id="menu" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-border-width" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
        </svg>
        </button>
      </div>
      <div class="divider"></div>
    </header>
  



    <!-- LOGO -->
    <section class="container" id="logo-container">
      <h1>
        Dashboard
      </h1>
    </section>

<!-- dashboard start -->

  <section class="dashboard">

    <div class="user-info">
      <h3>Users</h3><br>
      <p>
      <% users.forEach(user => { %>
        Name: <%= user.name %><br>
        Email: <%= user.email %><br>
        Created: 
      
        <% const createdAt = user.createdAt.toString();%>
        <% const splitDate = createdAt.split(' ');%>
        <% const shortDate = splitDate.slice(0,4).join(' ');%>
        <%= shortDate%><br><br>
        
      <% });  %>
      </p>
    </div>

    <div class="most-viewed">
      <h3>Times of Most Traffic</h3><br>
      <p>
      7/21/20, 8:45PM<br>
      User: Melisa, Melisa@gmail.com<br>
      <br>
      7/21/20, 8:45PM<br>
      User: Melisa, Melisa@gmail.com<br>
      <br>
      7/21/20, 8:45PM<br>
      User: Melisa, Melisa@gmail.com<br>
      </p>
    </div>

    <div class="traffic-times">
      <h3>Viewed Article</h3><br>
      <p>
        Halsey goes on Twitter tirade in support of Kanye<br>
        Added 7/21/20<br>
        <br>
        Kanye bleaches his hair blonde<br>
        Added 7/21/20<br>
        <br>
        Kanye dies<br>
        Added 7/21/20<br>
      </p>
    </div>

    <div class="line-graph">
      <img class="line-img" src="../images/chisme-line-graph2.png" alt="line graph displaying weekly logins">    
    </div>

    <div class="bar-graph">
      <img class="bar-img" src="../images/chisme-bar-graph2.png" alt="bar graph displaying traffic times">
    </div>

    <div class="pie-chart">
      <img class="pie-img" src="../images/chisme-pie-chart2.png" alt="pie chart of most viewed articles">
    </div>

  </section>

    <!-- back to top -->
    <div class="back-up">
      <p>back to top</p>
    </div>

      <!-- FOOTER -->
      <footer>
        <p>&copy; Chisme || 2020 </p>
      </footer>
</body>
</html>