<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="/style.css">
  <!-- BOOTSTRAP CSS CDN -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
  <!-- JAVASCRIPT -->
  <script defer src="/js/app.js"></script>
  <title>Chisme!</title>
</head>

<body>
  <!-- HEADER / NAV BAR -->
  <header class="container" id="nav-bar-container">
    <div class="container" id="nav-link-container">
      <ul class="nav-link-list">
        <li class="nav-link">All News</li>
        <li class="nav-link">Hot Topics</li>
        <li class="nav-link">Videos</li>
      </ul>
    </div>
    <!-- ICONS     -->
    <div class="icons-container">
      <!-- SIGN IN  -->
      <button class="sign-in-button">
        <span class="sign-in">Sign In</span>
      </button>
      <div class="divider"></div>
      <!-- MAGNIFYING GLASS  -->
      <svg id="magnifying-glass" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg>
      <div class="divider"></div>
    <!-- MENU -->
      <svg id="menu" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-border-width" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </div>
    <div class="divider"></div>
  </header>

    <!-- LOGO -->
    <section class="container" id="logo-container">
      <h1>
        CHISME
      </h1>
    </section>

    <!-- LEFT CONTAINER (NOT BEING USED CURRENTLY)
    <div class="container" id="left-container">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div> -->

    <!-- CENTER CONTAINER -->
    <main>
      <!-- IMAGE -->
      <img src="/kanye.jpg" id="yeezy">
      <!-- ALLY DESCRIPTION (NOT BEING USED CURRENTLY)
      <div class="container" id="picture-description">
        <p>
          Picture: Kanye West standing alone on stage. 
        </p>
      </div> -->
    </main>
    <!-- ARTICLE HEADLINE -->
    <div class="article-container-container">
      <section class="article-container">
        <h2>Kanye West has breakdown at first political rally...</h2>
      </section>
    </div>
    <!-- ARTICLE CONTENT -->
    <div class="article-container-container">
      <section class="article-container">
        <p class="article-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate, odio vel finibus semper, justo mauris bibendum justo, vitae convallis nulla massa posuere lorem. Nunc eleifend orci ac justo volutpat, ac lobortis diam lobortis. Pellentesque efficitur vulputate nunc, euismod consectetur nulla eleifend ac. Fusce eget aliquet risus. 
          <br>
          <br>
          Phasellus volutpat nunc id orci rutrum, non mollis erat tempor. Nullam nibh odio, posuere non tellus id, pellentesque ultricies massa. Aenean condimentum feugiat ipsum vitae posuere. Vestibulum sed enim bibendum, tempor orci ut, mollis diam. Cras porta purus in tortor iaculis hendrerit. Suspendisse malesuada tortor tortor. Donec ac quam sed nibh fermentum aliquet.
        </p>
      </section>
    </div>

    <!-- RIGHT CONTAINER (NOT BEING USED CURRENTLY)
    <div class="container" id="right-container">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div> -->

    <!-- USER FORM -->
<section id="user" class="container">
  
  <form class="subscribe" action="/" method="POST">
    <h2 class="sign">Sign Up</h2>
    
    <label class="name1">
      <!-- <div class="error-message hidden">I'm an error!</div> -->
      Name:<br>
      <input type="text" name="name" value="" placeholder="name">
    </label>

    <label class="email1">
      <div class="error-message hidden"></div>
      Email:<br>
      <input type="email" name="email" value="" placeholder="email">
    </label>
    <br>
    <button type="submit" class="subscribeBtn" name="subscribe">Subscribe</button>


  <!-- Subscribe -->
  <section class="subscribe">
        <h1 id="sub">SUBSCRIBE</h1>
        <br>
        <h2 id="life">Your go-to for the info you <br> need to live  your best life.</h2>

        <!-- Form -->
        <form class="sub-form" novalidate>
          <label class="name">
            <input class="input" type="text" name="f/lName" value="" placeholder="first/last name">
          </label>
          <label class="email">
            <div class="error-message hidden"></div>
            <input id="input-email" class="input" type="email" name="email" value="" placeholder="email">
          </label>

          <button class="btn" type="submit" class="subscribeBtn" name="subscribe">Subscribe</button>
      </form>
    </section>

  

    <!-- FOOTER -->
    <footer>
      <p>&copy; Chisme || 2020 </p>
    </footer>

</body>
</html>